[phases.setup]
nixPkgs = ["python311", "ffmpeg", "git"]

[phases.install]
cmds = [
  "python -m venv --copies /opt/venv",
  ". /opt/venv/bin/activate",
  "pip install --upgrade pip",
  "pip install -r requirements.txt"
]

[start]
cmd = "uvicorn server:app --host 0.0.0.0 --port 8080"
